<!-- Modal login and register,Dang dinh si -->
<div class="modal_login-resgiter" id="myModal">
    <div class="modal_overlay" id="myModal_overlay"></div>
    <div class="modal_body">
        <!-- Register form -->
        <div class="auth-form" id="formRegister">
            <form action="#" method="#">
                <div class="auth-form__container">
                    <div class="auth-form__header">
                        <h3 class="auth-form__heading">Register</h3>
                        <span class="auth-form__switch-btn"><a href="#" class="myExit" style="color: #888888;font-size: 1.8rem;"><i class="fas fa-times"></i></a></span>
                    </div>
                    <div class="auth-form__form">
                        <div class="auth-form__group">
                            <input type="text" required placeholder="Fistname" class="auth-form__input">
                        </div>
                        <div class="auth-form__group">
                            <input type="text" placeholder="Lastname" class="auth-form__input">
                        </div>
                        <div class="auth-form__group">
                            <input type="text" placeholder="Email..." class="auth-form__input">
                        </div>
                        <div class="auth-form__group">
                            <input type="password" placeholder="Password..." class="auth-form__input">
                        </div>
                        <div class="auth-form__group">
                            <input type="password" placeholder="Confirm Password..." class="auth-form__input">
                        </div>

                    </div>
                    <div class="auth-form__aside">
                        <p class="auth-form__policy-text">
                            By clicking Create Account, you acknowledge you have read and agreed to our <a class="auth-form__policy-link" href="#">Terms of Use</a> &
                            <a class="auth-form__policy-link" href="#">Privacy Policy</a>.
                        </p>
                    </div>
                    <div class="auth-form__controls">
                        <button class="btn btn-back">back</button>
                        <button type="submit" class="btn btn--primary btn-disable">register</button>
                    </div>
                </div>
                <div class="auth-form__socials">
                    <a href="#" class="auth-form__socials-flex auth-form__socials--facebook btn btn--size-s btn--with-icon ">
                        <i class="auth-form__socials-icon fab fa-facebook-square"></i>
                        <span>facebook</span>
                    </a>
                    <a href="#" class="auth-form__socials-flex auth-form__socials--google btn btn--size-s btn--with-icon">
                        <img class="auth-form__socials_img-google" src="
                    /assets/images/google.png" alt="">
                        <span>google</span>
                    </a>
                </div>
            </form>
        </div>
        <!-- Login form -->
        <div class="auth-form" id="formLogin">
            <form action="#" method="#">
                <div class="auth-form__container">
                    <div class="auth-form__header">
                        <h3 class="auth-form__heading">Login</h3>
                        <span class="auth-form__switch-btn"><a href="#" class="myExit" style="color: #888888;font-size: 1.8rem;"><i class="fas fa-times"></i></a></span>
                    </div>
                    <div class="auth-form__form">
                        <div class="auth-form__group">
                            <input type="text" required placeholder="Email..." class="auth-form__input">
                        </div>
                        <div class="auth-form__group">
                            <input type="password" placeholder="Password..." class="auth-form__input">
                        </div>
                    </div>
                    <div class="auth-form__aside">
                        <div class="auth-form__help">
                            <a href="#" class="auth-form__help-link auth-form__help-forgot">Forgot password</a>
                            <span class="auth-form__help-separate"></span>
                            <a href="#" class="auth-form__help-link">Need help?</a>
                        </div>
                    </div>
                    <div class="auth-form__controls">
                        <button class="btn btn-back">back</button>
                        <button type="submit" class="btn btn--primary btn-disable">Login</button>
                    </div>
                </div>
                <div class="auth-form__socials">
                    <a href="#" class="auth-form__socials-flex auth-form__socials--facebook btn btn--size-s btn--with-icon ">
                        <i class="auth-form__socials-icon fab fa-facebook-square"></i>
                        <span>facebook</span>
                    </a>
                    <a href="#" class="auth-form__socials-flex auth-form__socials--google btn btn--size-s btn--with-icon">
                        <img class="auth-form__socials_img-google" src="/assets/images/google.png" alt="">
                        <span>google</span>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End modal login and register,Dang dinh si -->